@{
    ViewData["Title"] = "NotFound";
}


<section class="banner-area relative about-banner" id="home" style="height:300px">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" style="height:100px">
            <div class="about-content col-lg-8">
                <h1 class="text-white">
                    Hata

                </h1>
            </div>
        </div>
    </div>
</section>
<div class="container" style="padding:5%;text-align:center">
    <br />


    <div class="container">
        <h1 style="color:darkblue">Link Hatası</h1><br />
        <h3>Üzgünüz, aradığınız dosya bulunamadı.</h3>
    </div>



    <br /><br /><br />
</div>
