
@{
    ViewData["Title"] = "AccessDenied";
}



<br /><br />
<div class="container" style="padding:5%;text-align:center">

    <div class="text-danger" asp-validation-summary="All"></div>
    <h2>Yönetici olmadığınızdan bu alana erişemezsiniz.</h2>
    <br />
    
    <br />
    <h5> Zaten kayıtlımısınız? <a asp-action="Login" asp-controller="Account"> Giriş yapabilirsiniz.</a></h5>
    <br />



    

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>



