
@{
    ViewData["Title"] = "Error";
}

<br /><br />
      <div class="container" style="padding:5%;text-align:center">


          <h4>Üzgünüz, aradığınız sayfa bulunamadı.</h4><br />
          <a asp-action="Index" asp-controller="Home">Edit</a>





          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>



